* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height: 100%;
  background: url("../images/steel-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  color: #e8e8e8;
  text-align: center;
  margin-bottom: 5%;
}

main {
  background-image: url("../images/smilining-pikachu.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 50vh;
  margin: 0 auto;
  color: #002627;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
  line-height: 1.5;
}

legend {
  text-align: center;
  margin-bottom: 10px;
}

.container fieldset {
  border: 0;
} 

.answers {
  width: 95%;
  margin: 0 auto 10px;
}

label {
  display: block;
}

.container .submit-answer-button, .next-question {
  display: block;
  margin: 0 auto;
}

input {
  margin: .4rem;
}


.correct-answer-image {
  display: block;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  
}

.incorrect-answer-image {
  display: block;
  height: 80%;
  width: 80%;
  margin: 0 auto;
}


  /* Media querie syntax for screen size higher that 640 */
  @media only screen and (min-width: 640px) {
    main {
      background-size: cover;
      width: 50vw;
    }
    .correct-answer-image {
      height: 200px;
      width: 200px;
    }
    .incorrect-answer-image {
      height: 200px;
      width: 200px;
    }
  }
